/*Start Mutual*/
:root {
  --color-primary: #a96700; /* Ana renk */
  --color-secondary: #f2f2f2; /* İkincil renk */
  --color-tertiary: #515151; /* Üçüncül renk */
  
  --font-primary: 'Cabin', sans-serif; /* Paragraflar ve genel font */
  --font-cta: 'Cabin', sans-serif; /* CTA butonları */
  
  --transition-duration: 0.3s; /* Geçiş süresi */
  
  --bg-color-hover: #fff; /* Hover durumunda arka plan rengi */
  --cta-border-color: var(--color-primary); /* CTA butonları sınır rengi */
}

p,
.a-CTA,
input,
header .navigation-bar a,
.copyright li,
.contact .form form label,
.contact .form form button {
  font-family: var(--font-primary);
}

.fa-asterisk,
.a-CTA,
h2,
header .navigation-bar a:hover,
header nav.active .navigation-bar a:hover,
footer .social-media .links a:hover,
.copyright .info li a,
.copyright .CTA li a:hover {
  color: var(--color-primary);
}

header nav .navigation-bar .underline,
header .text .button button:hover,
.contact .form form button:hover,
.contact .text i:hover {
  background-color: var(--color-primary);
}

header .navigation-bar ul li,
header .text,
.about-us .text,
.reservation .text,
.menu .box-model,
.menu .text,
.fixed-image1 .text,
.fixed-image2 .text,
.fixed-image3 .text,
.fixed-image4 .text,
.text,
footer,
.copyright,
.contact .text i {
  text-align: center;
}

header nav,
header .navigation-bar ul,
.about-us,
.reservation,
.about-us .image-container,
.reservation .image-container,
.menu,
.menu .menu-image-container,
footer .contact-container,
.copyright ul,
.contact {
  display: flex;
}

header nav .toggle,
header nav .toggle span,
header .navigation-bar,
header .navigation-bar ul,
.menu .box-model .close,
footer .social-media .links a,
.copyright .CTA li a {
  transition: var(--transition-duration);
}

header,
header nav .toggle span,
header .navigation-bar a,
header .text,
header .text .arrow .left,
header .text .arrow .right,
.recipes,
.menu .box-image-container,
.fixed-image1 .text,
.fixed-image2 .text,
.fixed-image3 .text,
.fixed-image4 .text,
.copyright,
.copyright .arrow-up {
  position: relative;
}

header nav .toggle,
header .navigation-bar .underline,
header .text .arrow .left:after,
header .text .arrow .right:after,
header .svg-down,
header .arrow-down,
.recipes .text,
.menu .box-model .close,
.menu .box-model .arrow .arrow-right,
.menu .box-model .arrow .arrow-left,
.menu .box-image-container .box-image,
.copyright .svg-up {
  position: absolute;
}

.recipes .text,
.fixed-image1 .text,
.fixed-image2 .text,
.fixed-image3 .text,
.fixed-image4 .text,
.menu .box-image-container,
.menu .box-image-container .box-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header nav,
header .navigation-bar a:hover .underline,
header .navigation-bar li.active .underline,
.menu .box-model,
.menu .box-image-container,
.menu .box-image-container .box-image {
  width: 100%;
}

button,
.dots>div,
header nav .toggle,
header .arrow-down,
.menu .box-model .close,
.menu .box-model .arrow .arrow-right,
.menu .box-model .arrow .arrow-left,
.menu .menu-image-container .image img,
footer .newsletter i,
.copyright .arrow-up {
  cursor: pointer;
}

.dots .active,
header nav.active,
header nav.active .toggle.active span,
header nav .toggle span,
header .navigation-bar .underline,
header .text .arrow .left,
header .text .arrow .right,
header .text .button button,
.contact form button {
  background-color: var(--bg-color-hover);
}

h1,
h3,
header .navigation-bar a,
header .text span,
.menu .box-model .close:hover,
footer .text h2,
footer .text p,
footer .social-media .links a,
.contact .text i,
.contact .form form button {
  color: var(--bg-color-hover);
}

header nav,
header .navigation-bar.show,
header .navigation-bar a:hover .underline,
header .navigation-bar li.active .underline,
header .text .arrow .left:after,
.menu .box-model,
.copyright .arrow-up {
  left: 0;
}

header .text .arrow .left:after,
header .text .arrow .right:after,
header .text span,
footer .social-media .links a,
footer .newsletter i,
.copyright .arrow-up,
.contact .text i,
.contact .form form label {
  display: inline-block;
}

/*End Mutual*/
